# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
*.egg

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
*.err.log

# IDE
.idea/
.vscode/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
